.links {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.links li:hover::after {
    content: '';
    border: 2px solid var(--primary);
    height: 2px;
    width: 100%;
    border-radius: 20px;
    transition: 0.5s ease-in;
}

.links .active::after {
    content: '';
    border: 2px solid var(--primary);
    height: 2px;
    width: 100%;
    border-radius: 20px;
}

.links li {
    display: flex;
    flex-direction: column;
}

.open {
    top: 64px;
    left: 0;
    width: 100%;
    display: flex !important;
}

@media screen and (max-width: 768px){
    .links {
        position: absolute;
        display: none;
        background: var(--background);
        flex-direction: column;
        z-index: 300;
    }

    .links li {
        height: 30px;
    }
}